body {
    margin: 0;
  }
  
  .menu-img{
    max-width: 100%;
    height: auto;
  }

  .accordion-content {
    transition: max-height 0.2s ease-out;
  }
  
  /* Disable ugly boxes around images in IE10 */
  a img{
    border: 0px;
  }
  
  ::-moz-selection {
    background-color: #6ab344;
    color: #fff;
  }
  
  ::selection {
    background-color: #6ab344;
    color: #fff;
  }
  
  .android-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
  }
  
  .android-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
  }
  
  
  .mdl-textfield--expandable {
    width: auto;
  }
  
  .android-fab {
    position: absolute;
    right: 20%;
    bottom: -26px;
    z-index: 3;
    background: #64ffda !important;
    color: black !important;
  }
  
  .android-mobile-title {
    display: none !important;
  }
  
  
  .android-logo-image {
    height: 28px;
    width: 140px;
  }

  .android-header {
    overflow: visible;
    background-color: white;
  }

    .android-title {
      height: 60px;
    }
    
    .android-title img {
      margin-top: 10%;
      height: 100%;
    }
    
    .android-header .material-icons {
      color: #767777 !important;
    }
  
    .android-header .mdl-layout__drawer-button {
      background: transparent;
      color: #767777;
    }
  
    .android-header .mdl-navigation__link {
      color: #757575;
      font-weight: 700;
      font-size: 14px;
    }
  
    .android-navigation-container {
      /* Simple hack to make the overflow happen to the left instead... */
      direction: rtl;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      width: 500px;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
          width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .android-navigation {
      /* ... and now make sure the content is actually LTR */
      direction: ltr;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 800px;
    }
  
    .android-search-box.is-focused + .android-navigation-container {
      opacity: 0;
      width: 100px;
    }
  
  
    .android-navigation .mdl-navigation__link {
      display: inline-block;
      height: 60px;
      line-height: 68px;
      background-color: transparent !important;
      border-bottom: 4px solid transparent;
    }
  
      .android-navigation .mdl-navigation__link:hover {
        border-bottom: 4px solid #8bc34a;
      }
  
    .android-search-box {
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .android-more-button {
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
    }
  
  
  .android-drawer {
    border-right: none;
  }
  
    .android-drawer-separator {
      height: 1px;
      background-color: #dcdcdc;
      margin: 8px 0;
    }
  
    .android-drawer .mdl-navigation__link.mdl-navigation__link {
      font-size: 14px;
      color: #757575;
    }
  
    .android-drawer span.mdl-navigation__link.mdl-navigation__link {
      color: #8bc34a;
    }
  
    .android-drawer .mdl-layout-title {
      position: relative;
      background: #6ab344;
      height: 160px;
    }
  
      .android-drawer .android-logo-image {
        position: absolute;
        bottom: 16px;
      }

  .android-be-together-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;    
    position: relative;
    height: 30vh;
    width: auto;
    background-size: cover;
    background-image: url('images/asrbg.png');
  }
  
  .logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
  }
  
  .logo-font.android-slogan {
    font-size: 36px;
    font-weight: bold;
  }
  
  .logo-font.android-sub-slogan {
    font-size: 24px;
    margin-top: 20px;
  }

  /* .android-be-together-section {
    position: relative;
    height: 30vh;
    width: auto;
    background-color: #f3f3f3;
    background-size: cover;
  }
  
  .logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
  }
  
  .android-slogan {
    font-size: 60px;
    padding-top: 20px;
  }
  
  .android-sub-slogan {
    font-size: 21px;
    padding-top: auto;
    padding-bottom:s auto;
  } */
  
  .android-create-character {
    font-size: 21px;
    padding-top: 400px;
  }
  
    .android-create-character a {
      text-decoration: none;
      color: #767777;
      font-weight: 300;
    }
  
  .android-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  
  .android-screens {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .android-screen {
    text-align: center;
  }
  
  .android-screen .android-link {
    margin-top: 16px;
    display: block;
    z-index: 2;
  }
  
  .android-image-link {
    text-decoration: none;
  }
  
  .android-footer {
    background-color: #fafafa;
    position: relative;
  }
  
    .android-footer a:hover {
      color: #8bc34a;
    }
  
    .android-footer .mdl-mega-footer--top-section::after {
      border-bottom: none;
    }
  
    .android-footer .mdl-mega-footer--middle-section::after {
      border-bottom: none;
    }
  
    .android-footer .mdl-mega-footer--bottom-section {
      position: relative;
    }
  
    .android-footer .mdl-mega-footer--bottom-section a {
      margin-right: 2em;
    }
  
    .android-footer .mdl-mega-footer--right-section a .material-icons {
      position: relative;
      top: 6px;
    }
  
  
  .android-link-menu:hover {
    cursor: pointer;
  }
  
  
  /**** Mobile layout ****/
  @media (max-width: 900px) {
    .android-navigation-container {
      display: none;
    }
  
    .android-title {
      display: none !important;
    }

    .android-mobile-title {
      margin-top: 2px;
      height: 60px;
    }
    
    .android-mobile-title img {
      height: 100%;
    }
    .android-mobile-title {
      display: block !important;
      position: absolute;
      left: calc(50% - 70px);
      top: 12px;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
    .android.android-search-box.is-focused ~ .android-mobile-title,
    .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
      opacity: 0;
    }
  
    .android-more-button {
      display: none;
    }
  
    .android-search-box.is-focused {
      width: calc(100% - 48px);
    }
  
    .android-search-box .mdl-textfield__expandable-holder {
      width: 100%;
    }
  
    .android-be-together-section {
      height: 20vh;
    }
  
    .android-slogan {
      font-size: 26px;
      margin: 0 16px;
      padding-top: auto;
    }
  
    .android-sub-slogan {
      font-size: 16px;
      margin: 0 16px;
      padding-top: 8px;
    }
  
    .android-create-character {
      padding-top: 200px;
      font-size: 16px;
    }
  
    .android-create-character img {
      height: 12px;
    }
  
    .android-fab {
      display: none;
    }
  
    .android-wear-band-text {
      margin-left: 0;
      padding: 16px;
    }
  
    .android-footer .mdl-mega-footer--bottom-section {
      display: none;
    }
  }
  
  .container {
    width: 97%;
    max-width: 700px;
    margin: 40px auto;
  }
  
  button.accordion {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  button.accordion:after {
    content: 'expand_more';
    font-family: 'Material Icons';
    font-size: 14px;
    float: right;
  }
  
  button.accordion.is-open:after {
    content: 'expand_less';
  }

  /* button.accordion:after {
    content: '↡';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
  }
  
  button.accordion.is-open:after {
    content: '↑';
  } */
  
  button.accordion:hover, button.accordion.is-open {
    background-color: #ddd;
  }
  
  .accordion-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
 
